<div class="container-fluid">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Titulo</th>
        <th scope="col">Preço</th>
        <th scope="col">Artista</th>
        <th scope="col">Genero</th>
        <th scope="col">Ano</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let music of musics">
        <th scope="row">{{music.id}}</th>
        <td>{{music.name}}</td>
        <td>{{music.price}}</td>
        <td>{{music.artist}}</td>
        <td>{{music.category}}</td>
        <td>{{music.year}}</td>
      </tr>
    </tbody>
  </table>
</div>
